body html{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#left_header img{
    width: 30%;
    max-width: 120px;
}
#right_header{
    display: inline;
    width: 60%;
    float: right;
}
#right_header a{
    text-decoration: none;
    color: rgb(231, 46, 46);
    font-size: 24px;
    padding:1%;
    padding-right: 5%;  
}
#toolSearch{
    padding-top: 80px;
}
#toolSearch input{
    border-radius: 5px;
    width: 40%;
    max-width: 400px;
    height: 27px;
    border-color: white;
}
#toolSearch button{
    border-radius: 5px;
    height: 27px;
    border-color: rgb(235, 67, 67);
    background-color: rgb(235, 67, 67);
    color:white;
}
.base_title{
    height:200px;
    width: 100%;
    background-image: url("bg.jpg");
    text-align:center;
}